/preview.html
/slide-delete-dialog.controller.js
/slide-delete-dialog.html
/slide-detail.controller.js
/slide-detail.html
/slide-dialog.controller.js
/slide-dialog.html
/slide-preview.directive.js
/slide.controller.js
/slide.service.js
/slide.state.js
/slides.html
