    <div class="well well-md no-header mb-80">
        <h2 translate="agreenApp.project.home.title">Projects</h2>
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="project.new" >
                        <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="agreenApp.project.home.createLabel">
                        Create new Slide
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <div class="row" ng-repeat="project in vm.projects track by project.id">
                <div class="col col-md-12">
                    <h3>{{project.title}}</h3>
                </div>
                <div class="col col-md-12">
                    {{project.content}}
                </div>
                <div class="col col-md-12">
                    <ul ng-repeat="photo in project.album track by $index" class="polaroids">
                        <li ng-if="photo.src">
                            <a title="photo.alt">
                                <img ng-src="{{photo.src}}" alt="{{photo.alt}}"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span translate="agreenApp.project.name">Name</span></th>
                    <th><span translate="agreenApp.project.title">Title</span></th>
                    <th><span translate="agreenApp.project.content">Content</span></th>
                    <th><span translate="agreenApp.project.album">Album</span></th>
                    <th><span translate="agreenApp.project.createdDate">Created Date</span></th>
                    <th><span translate="agreenApp.project.modifiedDate">Modified Date</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in vm.projects track by project.id">
                    <td><a ui-sref="project-detail({id:project.id})">{{project.id}}</a></td>
                    <td>{{project.name}}</td>
                    <td>{{project.title}}</td>
                    <td>{{project.content}}</td>
                    <td>{{project.album}}</td>
                    <td>{{project.createdDate | date:'medium'}}</td>
                    <td>{{project.modifiedDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-detail({id:project.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project.edit({id:project.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project.delete({id:project.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            -->
            <p>&nbsp;</p>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

