<div class="well well-md no-header mb-80">
    <h2 translate="agreenApp.media.home.title">Media</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="media.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="agreenApp.media.home.createLabel">
                        Create new Media
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="agreenApp.media.thumb">Thumb</span></th>
                    <th><span translate="agreenApp.media.name">Name</span></th>
                    <th><span translate="agreenApp.media.description">Description</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="media in vm.media track by media.id">
                    <td class="media-img">
                        <a ng-click="vm.previewImage(media)">
                            <img src="data:{{media.type}};base64, {{ media.content }}" class="media-img"/>
                        </a>
                    </td>
                    <td>{{media.name}}</td>
                    <td>{{media.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="media-detail({id:media.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="media.edit({id:media.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="media.delete({id:media.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    <br />

    <p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
