    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <!--
        <h4 class="modal-title" id="myMediaLabel" translate="agreenApp.media.home.createOrEditLabel">Create or edit a Media</h4>
        -->
        <h4 class="modal-title" id="myMediaLabel">Media Management</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>&nbsp;</p>

        <div class="container-fluid">
            <div class="well well-md">
                <form id="mediaForm" class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="vm.dropzone"
                      dropzone-config="vm.dropzoneConfig"
                      event-handlers="{ 'addedfile': vm.dzAddedFile, 'error': vm.dzError }">
                </form>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label" translate="agreenApp.media.description" for="field_description">Description</label>
                <input type="text" class="form-control" name="description" id="field_description"
                       ng-model="vm.media.description"
                    />
            </div>
        </div>

        <!--
        <div class="form-group" ng-show="vm.media.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.media.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="agreenApp.media.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.media.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="agreenApp.media.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.media.url"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="agreenApp.media.thumb" for="field_thumb">Thumb</label>
            <input type="text" class="form-control" name="thumb" id="field_thumb"
                    ng-model="vm.media.thumb"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="agreenApp.media.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.media.type"
                     />
        </div>bhz
            <label class="control-label" translate="agreenApp.media.size" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                    ng-model="vm.media.size"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="agreenApp.media.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.media.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="agreenApp.media.modifiedDate" for="field_modifiedDate">Modified Date</label>
                <div class="input-group">
                    <input id="field_modifiedDate" type="text" class="form-control" name="modifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.media.modifiedDate" is-open="vm.datePickerOpenStatus.modifiedDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        -->
    </div>
    <div class="modal-footer">

        <div class="row">
            <div class="col-md-7 pull-right">
                <button class="btn btn-success" ng-disabled="mediaForm.$invalid || vm.isSaving" ng-click="vm.save()">
                    <span class="glyphicon glyphicon-upload"></span>&nbsp;<span>Upload</span>
                </button>
                <button class="btn btn-danger" ng-click="vm.reset()">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Clear</span>
                </button>
                <button type="button" class="btn btn-material-grey" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
    </script>
