<div class="well well-md">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-10">
                    <h3>Pages</h3>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-material-brown btn-xs" ng-click="vm.newPage()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <ul  ng-show="vm.pagesExist == true" class="nav nav-pills nav-stacked">
                <li ng-repeat=" (k,page) in vm.articles  track by $index " ng-click="vm.openPage(page)" class="btn btn-material-brown btn-md">
                    {{ k }}
                </li>
            </ul>
            <div class="row">
                <div class="col-md-10">
                    <h3>Gallery</h3>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-material-brown btn-xs" ui-sref="album.new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <ul ng-show="vm.albumsExist == true" class="nav nav-pills nav-stacked">
                <li ng-repeat=" album in vm.gallery | orderBy: album.createdDate  track by album.id" ng-click="vm.openAlbum(album)">
                    {{ album.name }}
                </li>
            </ul>
        </div>
        <div class="col-md-10" ng-if="vm.article != null">
            <div class="panel panel-default panel-material-brown">
                <div class="panel-heading container-fluid">
                    <div class="panel-title"> <h2 style="color: wheat;">{{ vm.article.title }}</h2> </div>
                    <ul class="nav nav-tabs navbar-nav navbar-right btn-material-brown">
                        <li ng-class="{active: vm.lang == 'en'}" class="btn btn-material-brown btn-md" ng-click="vm.openLang('en')">English</li>
                        <li ng-class="{active: vm.lang == 'de'}" class="btn btn-material-brown btn-md" ng-click="vm.openLang('de')">German</li>
                        <li ng-class="{active: vm.lang == 'fr'}" class="btn btn-material-brown btn-md" ng-click="vm.openLang('fr')">French</li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h4>
                                            <label class="control-label" for="field_pid">PID</label>
                                        </h4>
                                        <input type="text" class="form-control" name="pid" id="field_pid" ng-model="vm.article.pid" />
                                    </div>
                                    <div class="col-md-3">
                                        <h4>
                                            <label class="control-label" translate="agreenApp.page.name" for="field_name">Name</label>
                                        </h4>
                                        <input type="text" class="form-control" name="name" id="field_name"
                                               ng-model="vm.article.name"
                                            />
                                    </div>
                                    <div class="col-md-7">
                                        <h4>
                                            <label class="control-label" translate="agreenApp.page.title" for="field_title">Title</label>
                                        </h4>
                                        <input type="text" class="form-control" name="title" id="field_title"
                                               ng-model="vm.article.title"
                                            />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <h4>
                                <label class="control-label" translate="agreenApp.page.content" for="pageEditor">Content</label>
                                </h4>
                                <!--
                                <input type="text" class="form-control" name="content" id="pageEditor" ng-model="vm.article.content"/>
                                 -->
                                <textarea ui-tinymce="vm.tinymceOptions" id="pageEditor" ng-model="vm.page[vm.pageIndex].content"  ng-cloak></textarea>
                            </div>
                            <div class="form-group">
                                <h4>
                                New Link
                                </h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>Name</h6>
                                        <input type="text" class="form-control" name="link" id="field_link_name"
                                               ng-model="vm.link.name"
                                            />
                                    </div>
                                    <div class="col-md-4">
                                        <h6>HREF</h6>
                                        <input type="text" class="form-control" name="link" id="field_link_href"
                                               ng-model="vm.link.href"
                                            />
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary btn-sm" ng-click="vm.addPageLink()">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </button>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <h4>Links</h4>
                                <div class="row" ng-repeat="link in vm.article.links track by $index">
                                    <div class="col-md-4">
                                        {{ link.name }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ link.href }}
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-danger btn-sm" ng-click="vm.delPageLink($index)">
                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--
                    <div class="pad">
                        <hr>
                        {{ vm.page | json }}
                    </div>
                    -->
                </div>
                <div class="panel-footer">
                    <div class="row text-right">
                        <button class="btn btn-primary btn-sm" ng-click="vm.savePage()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Save
                        </button>
                        <button class="btn btn-white btn-sm" ng-click="vm.cancelPage()">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            Cancel
                        </button>
                        <button class="btn btn-danger btn-sm" ui-sref="page.delete({id: vm.article.id })">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10" ng-show="vm.album">
            {{ vm.album | json }}
        </div>
    </div>
</div>
