<div class="main-header" style="margin-bottom: 200px;">
<nav class="navbar navbar-default navbar-custom" role="navigation">
    <div class="navbar-custom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <span class="text-uppercase" style="position: relative; top: 32px; left: 0;">
                    <h2>Dashboard</h2>
                </span>
                <!--
                <span translate="global.title">Agreen</span>
                <span class="navbar-version">v{{VERSION}}</span>
                -->
            </a>
        </div>
    <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
            <li ui-sref-active="active">
                <a ui-sref="dashboard" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                    <span translate="global.menu.entities.dashboard">Dashboard</span>
                </a>
            </li>
            <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Configuration
                            </span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="page" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-star"></span>&nbsp;
                            <span translate="global.menu.entities.pages">Pages</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="album" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-star"></span>&nbsp;
                            <span translate="global.menu.entities.gallery">Gallery</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span translate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                            <span translate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-heart"></span>&nbsp;
                            <span translate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                            <span translate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-bell"></span>&nbsp;
                            <span translate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                            <span translate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li ng-hide="vm.inProduction || vm.swaggerDisabled" ui-sref-active="active">
                        <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;
                            <span translate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                </ul>
            </li>
</ul>
</div>
</div>
</nav>
</div>
</div>

