<nav class="navbar navbar-default navbar-custom" role="navigation">
    <div class="navbar-custom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="aaagreen-ux-logo img-responsive" src="content/images/logo.gif"/>
                <span class="text-uppercase" style="position: relative; top: 65px; left: 0;">
                    <h6>Turning Africa Green</h6>
                </span>
                <!--
                <span translate="global.title">Agreen</span>
                <span class="navbar-version">v{{VERSION}}</span>
                -->
            </a>
            <br>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li ui-sref-active="active">
                        <a ui-sref="home" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-sm" translate="global.menu.home">Home</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="association" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-globe"></span>
                            <span class="hidden-sm" translate="global.menu.association">Association</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="project" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <span class="hidden-sm" translate="global.menu.projects">Projects</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="donation" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-gift"></span>
                            <span class="hidden-sm" translate="global.menu.donations">Donations</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" uib-dropdown class="dropdown pointer"
                        ng-controller="JhiLanguageController as languageVm">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <!--
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            -->
                            <b class="caret"></b>
                        </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                            <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                                <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language
                                    | findLanguageFromKey}}</a>
                            </li>
                        </ul>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="false">
                        <a href="" ng-click="vm.login()" id="login">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                            <!--
                            <span>Sign in</span>
                            -->
                        </a>
                    </li>

                    <li ui-sref-active="active" ng-switch-when="true">
                        <a href="" ng-click="vm.logout()" id="logout">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                            <!--
                            <span>Sign out</span>
                            -->
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a ui-shref="#" id="admin">
                            <span class="glyphicon glyphicon-wrench"></span>&nbsp;<span>Admin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
