/preview.html
/slide-show-delete-dialog.controller.js
/slide-show-delete-dialog.html
/slide-show-detail.controller.js
/slide-show-detail.html
/slide-show-dialog.controller.js
/slide-show-dialog.html
/slide-show-preview.directive.js
/slide-show-preview.html
/slide-show.controller.js
/slide-show.service.js
/slide-show.state.js
/slide-shows.html
