
    <div class="page-content custom-background bg-dark-teak dark mb-80">
        <div class="container mb-80" ng-repeat="header in vm.headers track by $index">
            <div class="row">
                <div class="col-md-12 mb-30">
                    <!-- .call-to-action start -->
                    <div class="call-to-action clearfix">
                        <div ng-bind-html="header.content" class="page-content"></div>
                        <p>&nbsp;</p>
                    </div><!-- .call-to-action end -->
                </div><!-- .col-md-12 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
        <p>&nbsp;</p>
    </div><!-- .page-content end -->

    <!-- .page-content start -->
    <div class="page-content mb-80">
        <!-- .container start -->
        <div class="container">
            <div class="row">
                <!-- .col-md-4 start -->
                <div class="col-md-4" ng-repeat="page in vm.pages track by $index">
                    <div class="service-box-11">
                        <div ng-bind-html="page.content" class="page-content"></div>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <!-- .col-md-4 end -->
                <!--
                <div class="col-md-4">
                    <div class="service-box-11">
                        <div ng-bind-html="vm.pages['aims'].content" class="page-content"></div>
                        <p>&nbsp;</p>
                    </div>
                </div>

                <!-- .col-md-4 end -->

                <!-- .col-md-4 start -->
                <!--
                <div class="col-md-4">
                    <div class="service-box-11">
                        <div ng-bind-html="vm.pages['objectives'].content" class="page-content"></div>
                        <p>&nbsp;</p>
                    </div>
                </div>

                <!-- .col-md-4 end -->

                <!-- .col-md-4 start -->
                <!--
                <div class="col-md-4">
                    <div class="service-box-11">
                        <div ng-bind-html="vm.pages['center'].content" class="page-content"></div>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <!-- .col-md-4 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div>
