<div class="well well-md no-header mb-80">
    <h2 translate="agreenApp.album.home.title">Albums</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="album.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="agreenApp.album.home.createLabel">
                        Create new Album
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="agreenApp.album.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span translate="agreenApp.album.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="agreenApp.album.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photos"><span translate="agreenApp.album.photos">Photos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isDefault"><span translate="agreenApp.album.isDefault">Is Default</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created"><span translate="agreenApp.album.created">Created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified"><span translate="agreenApp.album.modified">Modified</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="album in vm.albums track by album.id">
                    <td><a ui-sref="album-detail({id:album.id})">{{album.id}}</a></td>
                    <td>{{album.name}}</td>
                    <td>{{album.url}}</td>
                    <td>{{album.description}}</td>
                    <td>{{album.photos}}</td>
                    <td>{{album.isDefault}}</td>
                    <td>{{album.created | date:'medium'}}</td>
                    <td>{{album.modified | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="album-detail({id:album.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="album.edit({id:album.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="album.delete({id:album.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
