<div class="well well-md">
    <div class="row">
        <div class="col-md-3">
            <div class="page-header">
                <h3>Pages</h3>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat=" page in vm.pages ">
                    <a ng-click="vm.openPage(page)">
                        {{page.title}}
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-md-9">
            {{vm.page}}
        </div>
    </div>
</div>
