<!--
<div class="well well-md">

    <div class="row">
        <div class="col-md-3">
            <div class="page-header">
                <h3>Pages</h3>
            </div>
            <ul class="nav nav-tabs">
                <li ng-repeat=" page in vm.pages ">
                    <a ng-click="vm.openPage(page)">
                        {{page.title}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            {{vm.page}}
        </div>
    </div>
</div>
-->
<div class="well well-md no-header mb-80">
    <h2 translate="agreenApp.page.home.title">Pages</h2>
    <jhi-alert></jhi-alert>
    <!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="page.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="agreenApp.page.home.createLabel">
                        Create new Page
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    -->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span translate="agreenApp.page.lang">Lang</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="id"><span translate="agreenApp.page.pid">PID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="id"><span translate="agreenApp.page.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="title"><span translate="agreenApp.page.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                <!--
                <th jh-sort-by="content"><span translate="agreenApp.page.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="link"><span translate="agreenApp.page.link">Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                -->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in vm.pages track by page.id">
                <td><a ui-sref="page-detail({id:page.id})">{{page.lang}}</a></td>
                <td><a ui-sref="page-detail({id:page.id})">{{page.pid}}</a></td>
                <td><a ui-sref="page-detail({id:page.id})">{{page.name}}</a></td>
                <td>{{page.title}}</td>
                <!--
                <td>{{page.content}}</td>
                <td>{{page.link}}</td>
                -->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="page-detail({id:page.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="page.edit({id:page.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="page.delete({id:page.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
